<Server>
	<Name>Starter MiSite</Name>
	<Port>8890</Port>
	<client_id>XXXXXXXXXXXXXXXXX-XXXXXXXXXXXXXXXXXXXXXXXXXX.apps.googleusercontent.com</client_id> 
	<client_secret>XXXXXXXXXXX-XXXXXXXXXXXXXXXXXXXXXXXXX-</client_secret>
	<scope>https://www.googleapis.com/auth/contacts https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/userinfo.profile</scope>
	<ClassName>OAuthServer</ClassName>
</Server>